**/node_modules/
**/dist/
**/lib/
**/build/
**/.out/
**/*.d.ts
.nx/**
.pulumi/**
.yarn/**
cypress-tests/**
.idea/**
idea.js
scripts/**/*.js
jest.config.*
packages/create-webiny-project/utils/binaries/**
