:root {
  --wb-theme-color1: #fa5723;
  --wb-theme-color2: #00ccb0;
  --wb-theme-color3: #0a0a0a;
  --wb-theme-color4: #616161;
  --wb-theme-color5: #eaecec;
  --wb-theme-color6: #ffffff;
  --wb-theme-font-family: InterVariable, sans-serif;
}

@import "https://rsms.me/inter/inter.css";

.wb-heading-1 {
  line-height: 1.5;
  font-family: var(--wb-theme-font-family);
  font-weight: bold;
  font-size: 48px;
  color: var(--wb-theme-color3);
  --webkit-font-smoothing: antialiased;
}

.wb-heading-2 {
  line-height: 1.5;
  font-family: var(--wb-theme-font-family);
  font-size: 36px;
  color: var(--wb-theme-color4);
  --webkit-font-smoothing: antialiased;
}
